body {
    background: rgb(235, 231, 231);
    padding: 0;
    margin: 0;
}

.pageContainer {
    /* border: 2px solid black; */
}

.navBar {
    border: 1px solid black;
    background: rgb(27, 27, 27);
    height: 70px;
    /* background: linear-gradient(to right, #0579be 0%,#71ceef 22%,#71ceef 78%,#0579be 100%); */
}

.navContainer {
    /* border: 1px solid white;  */
}

.navButton {
    /* border: 2px solid white; */
    width: 100px;
    height: 25px;
    color: white;
    display: inline-block;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;
}

.contentContainer {
    /* border: 3px solid black; */
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.actionContainer {
    text-align: right;
    padding: 20px 0;
    /* border: 1px solid red; */
}

.actionContainer form {
    display:  inline-block;
}

.sortContainer {
    /* border: 1px solid black; */
    float: left;
}

.createJobContainer {
    /* border: 1px solid black; */
    width: 100px;
    height: 25px;
    margin-left: 50px;
    margin-top:50px;
    right: 0;
}
.searchJobContainer {
    /* border: 1px solid black; */
    width: 400px;
    height: 25px;
    margin-left: 150px;
    margin-top:50px;
    right: 0;
}

.tableContainer {
    /* border: 2px solid black; */
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
